<h2>Burnbook page for {{girl.name}}</h2>
<img src="{{girl.imageUrl}}" alt="{{girl.name}}" class="bigpic"/>
<p>
  {{girl.offense}}
</p>

<div id="girl-edit">
  <a href="/girls/{{girl._id}}/edit">Edit Burnbook Victim</a>
  <a href="/burnbook">Back</a>
</div>
